.app_blue_theme {
  --bg-color: #f4f4fb;
  --inverted-bg-color: #5e69ee;
  --primary-color: #39afea;
  --secondary-color: green;
  --inverted-primary-color: #89e4ff;
  --inverted-secondary-color: blue;

  // code
  --code-bg: #fff;

  // card
  --card-bg: #e9e9ea;

  // listbox
  --listbox-bg: #e9e9ea;
}
