.app_dark_theme {
  --bg-color: #444654;
  --inverted-bg-color: #343541;
  --primary-color: #d1d5db;
  --secondary-color: green;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: blue;

  // skeleton
  --skeleton-color: green;
  --skeleton-shadow: blue;

  // code
  --code-bg: #505263;
}
