.app.light {
    --bg-color: #dddbdb;
    --inverted-bg-color: #006;
    --primary-color: darkblue;
    --secondary-color: blue;
    --inverted-primary-color: teal;
    --inverted-secondary-color: green;
}
