.StickyContentLayout {
  display: grid;
  grid-template-areas: "left content right";
  grid-template-columns: min-content 1fr min-content;
}

.content {
  grid-area: content;
  justify-self: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 16px;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.left,
.right {
  position: sticky;
  top: 30px;
  height: fit-content;
}